<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="chat-page">
    <div id="message-area"></div>
    <input type="text" id="message-input" placeholder="Type a message...">
    <button onclick="topicSubscribe()">Send</button>
</div>
<script th:inline="javascript">
    var stompClient = null;
    var credentials = prompt('Enter your credentials:');

    function connect() {
        /*<![CDATA[*/
        var socket = new SockJS(/*[[${sockJsUrl}]]*/, null, { transports: ['xhr-streaming'], withCredentials: true });
        /*]]>*/
        stompClient = Stomp.over(socket);
        var headers = {token: credentials}
        stompClient.connect(headers, onConnected, onError);
    }

    function onConnected() {
        console.log("Connected")
    }

    function topicSubscribe() {
        var headers = {id: document.getElementById("message-input").value}
        stompClient.subscribe('/topic/status', function (message) {
            console.log('Received message: ' + message.body);
        }, headers);
    }

    function onError(error) {
        console.log('Error: ' + error);
    }

    connect();
</script>
</body>
</html>